html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 400px;
  background: #fff;
  color: rgba(0,0,0,0.87);
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: #609;
}

img {
  border: none;
}

body,
p,
div,
footer,
form,
header,
html,
main,
nav,
section {
  display: block;
}

head, meta, script, style, title {
  display: none;
}



.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav_section {
  display: flex;
  align-items: center;
  padding: 6px;
  flex-shrink: 0;
  height: 60px;
  box-sizing: border-box;
}

.logo_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  max-height: 290px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.search_section {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.footer_section {

}

.search_field {
  width: auto;
  max-width: auto;
  background: #fff;
  display: flex;
  border: 1 px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.search_button:hover {
  cursor: pointer;
}
