html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 400px;
  background: #fff;
  color: rgba(0,0,0,0.87);
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: #609;
}

img {
  border: none;
}

body,
p,
div,
footer,
form,
header,
html,
main,
nav,
section {
  display: block;
}

head, meta, script, style, title {
  display: none;
}



.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/*////////SECTIONS////////*/

.nav_section {
  display: flex;
  align-items: center;
  padding: 6px;
  flex-shrink: 0;
  height: 60px;
  box-sizing: border-box;
}

.logo_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150px;
  max-height: 290px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.search_section {
  padding: 20px;
  max-height: 160px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.footer_section {

}

/*////////SUBSECTIONS////////*/

.big_nav {
  display: inline-block;
  flex-grow: 1;
}

.right_nav {
  display: flex;
  float: right;
  padding-left: 32px;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  justify-content: flex-end;
  white-space: nowrap;
  align-items: center;
  color: #222;
}

.right_nav1 {

}

.right_nav2 {
  float: right;
  position: relative;
}

.logo_container {

}

.search {
  width: auto;
  max-width: 584px;
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
}

.left_foot {

}

.mid_foot {

}

.right_foot {

}

/*////////ELEMENTS////////*/

a.left_link:first-of-type {
  margin-left: 15px;
}

a.left_link {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: #222;
}

a.right_link {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  line-height: 24px;
  vertical-align: middle;
  color: #222;
  text-decoration: none;
}

.google_apps {
  opacity: 1;
  background-position: -64px -29px;
  padding: 8px;
  display: inline-block;
  outline: none;
  border-radius: 2px;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
}

a.google_apps {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.sign_in {
  padding: 9px 15px;
  min-width: 80px;
  margin-left: 8px;
  background: #1a73e8;
  border: 1px solid transparent;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .25px;
  line-height: 16px;
  margin-right: 8px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  display: inline-block;
}

a.sign_in {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.search_box {
  width: auto;
  max-width: 584px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.search_field {
  width: auto;
  max-width: auto;
  background: #fff;
  display: flex;
  border: 1 px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
}

.search_field_text {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.search_field_text2 {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.search_field_text3 {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.search_text {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.search_button {

}

.search_button:hover {
  cursor: pointer;
}
